<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Sign Up</title>
</head>
<body>
    <form ng-submit="" novalidate>
        <input type="text" placeholder="Username" ng-model="login.username" />
        <input type="password" placeholder="Password" ng-model="login.password" />
        <input type="submit" value="Sign Up" />
        <p>Already have an account? <a href="/">Login</a></p>
    </form>
    
</body>
</html>